extends base

mixin navItem(link, text, icon, active)
    li(class=`${active ? 'side-nav__item--active' : ''}`)
        a(href=`${link}`)
            svg
                use(xlink:href=`img/icons.svg#${icon}`)
            | #{text}

block content
    main.main
        .user-view
            nav.user-view__menu
                ul.side-nav
                    +navItem('#', 'Configurações', 'icon-settings', true)
                    +navItem('/my-tours', 'Meus Passeios', 'icon-briefcase')
                    +navItem('#', 'Meus Reviews', 'icon-star')
                    +navItem('#', 'Pagamentos', 'icon-credit-card')

                - if(user.role === 'admin')
                    .admin-nav
                        h5.admin-nav__heading Admin
                        ul.side-nav
                            +navItem('#', 'Gerenciar Passeios', 'icon-map')
                            +navItem('/users', 'Gerenciar Usuários', 'icon-users')
                            +navItem('#', 'Gerenciar Reviews', 'icon-star')
                            +navItem('#', 'Gerenciar', 'icon-briefcase')


            .user-view__content
                .user-view__form-container
                    h2.heading-secondary.ma-bt-md Sua conta
                    form.form.form-user-data
                        .form__group
                            label.form__label(for='name') Nome
                            input#name.form__input(type='text' value=`${user.name}`, required)
                        .form__group.ma-bt-md
                            label.form__label(for='email') Email
                            input#email.form__input(type='email' value=`${user.email}`, required)
                        .form__group.form__photo-upload
                            img.form__user-photo(src=`img/users/${user.photo}` alt= `Foto de ${user.name}`)
                            input.form__upload#photo(type='file', accept='image/*', name='photo')
                            label(for="photo") Escolha uma nova foto
                        .form__group.right
                            button.btn.btn--small.btn--green Salvar
                .line &nbsp;
                .user-view__form-container
                    h2.heading-secondary.ma-bt-md Alterar Senha
                    form.form.form-user-settings
                        .form__group
                            label.form__label(for='password-current') Senha Atual
                            input#password-current.form__input(type='password' placeholder='••••••••', required, minlength='8')
                        .form__group
                            label.form__label(for='password') Nova Senha
                            input#password.form__input(type='password' placeholder='••••••••', required, minlength='8')
                        .form__group.ma-bt-lg
                            label.form__label(for='password-confirm') Confirmar Nova Senha
                            input#password-confirm.form__input(type='password' placeholder='••••••••', required, minlength='8')
                        .form__group.right
                            button.btn.btn--small.btn--green#btn--save-password Alterar Senha
